<div class="card p-fluid">
  <h5>Add/Edit Data</h5>
  <p-toast position="top-center"></p-toast>
  <form name="addProvinsi">
  <div class="field grid">
    <label htmlFor="id_provinsi" class="col-12 mb-2 md:col-2 md:mb-0">ID</label>
    <div class="col-12 md:col-10">
      <input
        pInputText
        [(ngModel)]="id_provinsi"
        id="id_provinsi"
        name="id_provinsi"
        type="text"
        placeholder="ID Provinsi"
        disabled="true"
      />
    </div>
  </div>
  <div class="field grid">
    <label htmlFor="nama_provinsi" class="col-12 mb-2 md:col-2 md:mb-0"
    >Provinsi</label
    >
    <div class="col-12 md:col-10">
      <input
        pInputText
        [(ngModel)]="nama_provinsi"
        id="nama_provinsi"
        name="nama_provinsi"
        type="text"
        required
        placeholder="Provinsi"
      />
    </div>
  </div>
  <div class="field grid mt-5">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-sm p-button-warning"
      (onClick)="back()"
    ></p-button>

    <p-button
      label="Submit"
      icon="pi pi-check"
      [loading]="isLoading"
      (click)="addData()"
      styleClass="p-button-sm p-button-success ml-2"
    ></p-button>
  </div>
  </form>
</div>
